<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Explore a location...</h1>
    <div class="buttons">
      <button class="button button-assertive button-small" ng-click="closeSettings()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ul class="list">
      <div class="item item-divider">Mesopotamia</div>
      <a class="item item-avatar" ui-sref="mesopotamia" ng-click="closeSettings()">
        <img src="texture/mesopotamia-landscape-thumb.jpg">
        <h2>Mesopotamian Landscape</h2>
        <p></p>
      </a>

      <div class="item item-divider">Egypt</div>
      <a class="item item-avatar" ui-sref="egypt-pyramids" ng-click="closeSettings()">
        <img src="texture/egypt-pyramids-thumb.jpg">
        <h2>Egypt: Pyramids of Giza</h2>
        <p></p>
      </a>
      <a class="item item-avatar" ui-sref="egypt-tomb-of-kings" ng-click="closeSettings()">
        <img src="texture/egypt-tomb-of-kings-thumb.jpg">
        <h2>Egypt: Tomb of Kings</h2>
        <p></p>
      </a>

      <div class="item item-divider">China</div>
      <a class="item item-avatar" ui-sref="china-greatWall" ng-click="closeSettings()">
        <img src="texture/china-wall-thumb.jpg">
        <h2>The Great Wall of China</h2>
        <p></p>
      </a>

      <div class="item item-divider">Greece</div>
      <a class="item item-avatar" ui-sref="greece-winged-victory" ng-click="closeSettings()">
        <img src="texture/sun_temple_stripe-thumb.jpg">
        <h2>Winged Victory of Samothrace</h2>
        <p>Greek stuff happened here</p>
      </a>
      <a class="item item-avatar" ui-sref="greece-coast" ng-click="closeSettings()">
        <img src="texture/greece-coast-thumb.jpg">
        <h2>Coast of Greece</h2>
        <p></p>
      </a>
      <a class="item item-avatar" ui-sref="greece-crete" ng-click="closeSettings()">
        <img src="texture/greece-crete-thumb.jpg">
        <h2>Ruins of Crete</h2>
        <p></p>
      </a>
      <a class="item item-avatar" ui-sref="greece-parthenon" ng-click="closeSettings()">
        <img src="texture/greece-parthenon-thumb.jpg">
        <h2>Parthenon</h2>
        <p></p>
      </a>

      <div class="item item-divider">Rome</div>
      <a class="item item-avatar" ui-sref="rome-forum" ng-click="closeSettings()">
        <img src="texture/rome-forum-thumb.jpg">
        <h2>Roman Forum</h2>
        <p></p>
      </a>
      <a class="item item-avatar" ui-sref="rome-colosseum" ng-click="closeSettings()">
        <img src="texture/rome-colosseum-thumb.jpg">
        <h2>The Colosseum</h2>
        <p></p>
      </a>

      <div class="item item-divider">Istanbul</div>
      <a class="item item-avatar" ui-sref="istanbul-mosque" ng-click="closeSettings()">
        <img src="texture/istanbul-mosque-thumb.jpg">
        <h2>Sultan Ahmed Mosque</h2>
        <p></p>
      </a>
      <a class="item item-avatar" ui-sref="medina" ng-click="closeSettings()">
        <img src="texture/istanbul-modern-thumb.jpg">
        <h2>Medina</h2>
        <p></p>
      </a>
      <a class="item item-avatar" ui-sref="taj-mahal" ng-click="closeSettings()">
        <img src="texture/taj-mahal-thumb.jpg">
        <h2>Taj Mahal</h2>
        <p></p>
      </a>

      <div class="item item-divider">Jerusalem</div>
      <a class="item item-avatar" ui-sref="dome-of-the-rock" ng-click="closeSettings()">
        <img src="texture/dome-of-the-rock-thumb.jpg">
        <h2>Dome of the Rock</h2>
        <p></p>
      </a>
    </ul>
  </ion-content>
</ion-modal-view>
